<script src="https://kit.fontawesome.com/c7a9dbcce9.js" crossorigin="anonymous"></script>
<body dir="rtl" id="body">
<div class="main-div">
  <div>
    <app-search-bar (searched)="addNode($event)">

    </app-search-bar>

    <div id="account-info" class="form-div">
      <!--      <ul>-->
      <!--        <p [(ngModel)]="account1.AccountID">{{account1.AccountID}}</p>-->
      <!--        <p>{{account1.OwnerName}}</p>-->
      <!--        <p>{{account1.Sheba}}</p>-->
      <!--      </ul>-->
    </div>
  </div>


  <div id="graph-container">

  </div>
</div>
</body>

